.rv-hint {
  background: #494949;
  color: #f8f8f9;
  font-size: 10px;
  padding: 3px;
  width: 115px;
}

.rv-hint > div > span {
  padding-left: 10px;
  font-size: 12px;
  font-weight: bolder;
}

.rv-hint > div > ul {
  list-style: none;
  padding-inline-start: 10px;
  margin-block-start: 0em;
}

.rv-hint--orientation-topleft {
  transform: translate(-7px, -7px);
}

.rv-hint--orientation-topright {
  transform: translate(7px, -7px);
}

.rv-hint--orientation-bottomleft {
  transform: translate(-7px, 7px);
}

.rv-hint--orientation-bottomright {
  transform: translate(7px, 7px);
}

.rv-xy-plot {
  color: #c3c3c3;
  position: relative;
}

.rv-xy-plot canvas {
  pointer-events: none;
}

.rv-xy-plot .rv-xy-canvas {
  pointer-events: none;
  position: absolute;
}

.rv-xy-plot__inner {
  display: block;
}

.rv-xy-plot__axis__line {
  fill: none;
  stroke-width: 2px;
  stroke: #e6e6e9;
}

.rv-xy-plot__axis__tick__line {
  stroke: #e6e6e9;
}

.rv-xy-plot__axis__tick__text {
  fill: #6b6b76;
  font-size: 11px;
}

.rv-xy-plot__axis__title text {
  fill: #6b6b76;
  font-size: 11px;
}

.rv-xy-plot__grid-lines__line {
  stroke: #e6e6e9;
}

.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9;
}

.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9;
}

.rv-xy-plot__series,
.rv-xy-plot__series path {
  pointer-events: all;
}

.rv-xy-plot__series--line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
